socket 
ftplib 
requests 
progress 
argparse 
threading
os
sys
# one for time measurement 
# another one for cli interfaces 
# another for batch file integration 
# we'll also need a dotenv file for environment management 

